
<p>
<strong><%= t('comment.title')%></strong>
<%= comment.commenter %>
</p>

<p>
<strong><%= t('comment.body')%></strong>
<%= comment.body %>
</p>

<p>
<strong><%= t('comment.author')%></strong>
<%= @users.find(comment.user_id).username %>
</p>