<!DOCTYPE html>
<html>
  <head>
    <title>AdminProfil</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
  </head>

  <body>
  <%= render 'shared/flash_messages' if !flash.empty? %>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">      
          <%= link_to t('menu.nav.home'), welcome_index_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('menu.nav.post'), articles_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">        
          <%= link_to t('menu.nav.password'), passwords_path, :class => 'nav-link' %>
        </li>                
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Languages
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <%= link_to t('menu.languages.en'), change_locale_path(:en) %>
            </li>
            <li>
              <%= link_to t('menu.languages.fr'), change_locale_path(:fr) %>
            </li>
          </ul>
        </li>
      </ul>

      <span class="navbar-text">
          <% if user_signed_in? %>
          <%= image_tag current_user.gravatar_url, :class => "gravatar" %>
          <%= t('menu.nav.conx-state') %> <strong><%=  current_user.username.presence ||  current_user.email %></strong>.
          <%= link_to t('menu.nav.edit-prof'), edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to t('menu.nav.logout'), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </span>
    </div>
  </nav>

  

    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
    </br>
    <% if user_signed_in?  %>
      <%= current_user.id %>
      <% end%>
  </body>
</html>
